/* ## Site Header
--------------------------------------------- */

.site-header {
	position: absolute;
	z-index: 100;
	width: 100%;
	background-color: $white;

	@include transition;

	.has-fixed-header & {
		position: fixed;

		&.shrink {
			background-color: rgba($white, 0.9);
			box-shadow: 0 0 2rem rgba($dark, 0.1);
		}
	}

	&.shrink > .wrap {

		@include breakpoint(md) {
			padding: 0;
		}
	}

	.page-template-page-builder & {
		position: relative;
		background-color: $dark;

		&.fixed {
			position: fixed;
		}
	}

	> .wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;

		@include transition;

		@include breakpoint(md) {
			position: relative;
			padding: 1rem 0;
			flex-wrap: nowrap;
		}
	}
}

/* ## Title Area
--------------------------------------------- */

.title-area {
	display: block;
	position: relative;
	max-width: 15rem;
	height: 100%;
	margin: 0 auto 0 0;
	padding: 2rem 0;
	flex: 1;

	.wp-custom-logo & {
		padding: 1rem 0;

		@include breakpoint(lg) {
			padding: 0;
		}
	}
}

.site-title {
	margin-bottom: 0;
	font-family: $font-heading;
	font-size: 1.7rem;
	font-weight: $bold;
	line-height: 1;
	white-space: nowrap;

	a {
		color: $primary;
		text-decoration: none;
	}
}

.site-description {
	margin-bottom: 0;
	color: $gray;
	font-size: 1.2rem;
	line-height: 1;

	@include breakpoint(md) {
		line-height: 1.382;
		text-align: left;
	}
}

.custom-logo-link {
	display: block;
}

/* ## Header Right Widget Area
--------------------------------------------- */

.header-widget-area {

	@include breakpoint(md) {
		margin-right: 0;
		margin-left: 1em;
		order: 3;
	}

	@media (max-width: map-get($breakpoints, md)) {

		ul,
		ul.alignleft,
		ul.alignright {
			display: flex;
			float: none;
			margin: 2em auto;
			justify-content: center;

			li {
				margin: 0 0.5em;
			}
		}
	}

	.widget-wrap {

		@include clearfix;
	}
}

/* ## Custom Header
--------------------------------------------- */

.wp-custom-header {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	pointer-events: none;
	object-fit: cover;
	object-position: center;

	img {
		display: none;
	}

	.woocommerce & img,
	img,
	video,
	iframe {
		width: 100%;
		height: 100%;
	}

	iframe {
		position: absolute;
		top: -30%;
		right: -30%;
		bottom: -30%;
		left: -30%;
		width: 160%;
		min-width: 100%;
		max-width: 160%;
		height: 160%;
		min-height: 56.25vw; // 16:9 aspect ratio.
		max-height: none;
		margin: auto;
	}
}

.wp-custom-header-video-button {
	display: none;
}

/* ## Hero Section
--------------------------------------------- */

.hero-section {
	position: relative;
	padding: 10rem 0 5rem;
	color: $white;
	background-position: center;
	background-size: cover;
	text-align: center;

	@include overlay;

	@include breakpoint(sm) {
		padding: 16rem 0 6rem;
	}

	.wrap {
		position: relative;
		z-index: 1;
	}

	h1 {
		max-width: map-get($breakpoints, sm);
		margin: 0 auto 0.382em;
	}

	p {
		max-width: map-get($breakpoints, sm);
		margin: 0 auto;
	}
}
