/* ## Front Page
--------------------------------------------- */

.home {

	.site-inner {
		padding: 0;
	}
}

.front-page-1,
.front-page-2,
.front-page-3,
.front-page-4,
.front-page-5,
.front-page-6 {
	padding: 8rem 0;
	background-color: $white;

	@include breakpoint(md) {
		padding: 12rem 0;
	}
}

/* ### Front Page 1 */

.front-page-1 {
	display: flex;
	overflow: hidden;
	position: relative;
	padding: 12rem 0;
	color: $white;
	background-color: transparent;
	background-position: center !important;
	background-size: cover !important;
	text-align: center;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;

	@include clearfix;

	@include breakpoint(sm) {
		padding: 14rem 0;
	}

	@include breakpoint(md) {
		padding: 16rem 0;
	}

	@include breakpoint(xl) {
		padding: 18rem 0;
	}

	.has-hero-slider & {
		padding: 0;

		.wrap {
			width: 100%;
			max-width: 100%;
			padding: 0;
		}

		.widget {
			max-width: 100%;
			margin: 0;

			&:first-of-type {
				padding-top: 0;
			}
		}
	}

	.slick-arrow {
		visibility: hidden;
		overflow: hidden;

		@include breakpoint(xs) {
			visibility: visible;
		}
	}

	.wrap {
		position: relative;
		z-index: 2;
	}

	.widget {

		@include breakpoint(sm) {
			max-width: map-get($breakpoints, sm);
			margin-right: auto;
			margin-left: auto;
		}

		&:first-of-type {
			padding-top: 5vh;
		}

		.widget-wrap {

			p {
				margin-bottom: 1.618em;
				color: $border;
			}
		}
	}

	h1 {

		@include breakpoint(xs) {
			font-size: 2.2em;
		}

		@include breakpoint(sm) {
			font-size: 2.7em;
		}

		@include breakpoint(xl) {
			font-size: 3.5em;
		}
	}
}

/* ### Front Page 2 */

.front-page-2 {
	text-align: center;

	.fa-coffee {
		margin-left: -1.5rem; // Lineawesome fix.
	}

	.widget-title {
		margin: 1rem auto;
		font-size: 2rem;
	}

	p {
		display: block;
		color: $gray;

		@include breakpoint(sm) {
			padding: 0 1em;
			font-size: 1.8rem;
		}

		&:last-of-type {

			@include breakpoint(sm) {
				margin-bottom: 0;
			}
		}
	}
}

/* ### Front Page 3 */

.front-page-3 {
	background-color: $light;

	.wrap {
		flex-wrap: wrap;
	}

	.widget {
		margin-bottom: 5vw;

		@include breakpoint(sm) {
			margin-bottom: $margin-left;
		}

		&:first-of-type {
			margin-bottom: 5rem;
		}
	}

	.widget_custom_html:first-of-type {
		margin-right: auto;
		margin-left: auto;
		text-align: center;

		hr {
			display: block;
			width: 10rem;
			height: 0.3rem;
			margin: 0 auto 4rem;
			padding: 0;
			border: 0;
			background-color: $accent;
		}

		p {
			color: $gray;
		}
	}

	p {
		color: $gray;
	}

	.entry {
		max-width: 40rem;
		margin-right: auto;
		margin-left: auto;
		padding: 0;
		border-radius: $site-radius;
		box-shadow: 0 27px 40px -20px rgba($dark, 0.11);

		@include transition;

		&:hover {
			box-shadow: 0 27px 40px -20px rgba($dark, 0.22);
		}

		> a {
			display: block;
			margin: 0;

			@include overlay;

			&:before {
				opacity: 0.1;
			}

			&:focus ~ .entry-header a {
				color: $gray;
			}
		}

		p {
			display: flex;
			flex-wrap: wrap;
		}
	}

	.entry-title {
		padding: 3rem 3rem 0;
		font-size: 1.8rem;
	}

	.entry-content {
		padding: 0 3rem 3rem;
		color: $gray;
		font-size: 1.8rem;
	}

	img {
		min-width: 100%;
		border-radius: $site-radius $site-radius 0 0;
	}

	.more-link {
		display: block;
		width: auto;
		margin-top: 1em;
		padding: 0.618em 1.618em;
		border-radius: $site-radius;
		color: $white;
		background-color: $dark;
		box-shadow: 0 27px 40px -20px rgba($dark, 0.22);
		font-family: $font-heading;
		font-size: 1.4rem;
		font-weight: $bolder;
		text-decoration: none;

		@include transition;

		&:hover {
			box-shadow: 0 27px 40px -20px rgba($dark, 0.22);
		}
	}
}

/* ### Front Page 4 */

.front-page-4 {
	overflow: hidden;
	position: relative;
	padding: 10rem 0;
	color: $white;
	background-color: $dark;
	text-align: center;

	@include overlay;

	@include breakpoint(md) {
		padding: 20rem 0;
	}

	.wrap {

		@include breakpoint(sm) {
			display: block;
		}
	}

	.widget {
		max-width: 64rem;
		margin: 0 auto;

		@include breakpoint(md) {
			margin: 0 auto;
		}
	}

	.widget-wrap {
		display: flex;
		position: relative;
		z-index: 1;
		width: 100%;
		height: 100%;
		align-items: center;
	}
	// Only apply to first image widget.
	.widget_media_image:first-of-type {
		position: absolute;
		z-index: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 0;

		@include breakpoint(sm) {
			max-width: 100%;
		}

		img {
			width: 100% !important;
			height: 100% !important;
			object-fit: cover;
			object-position: center;
		}
	}

	.widget.widget_media_video {

		@include center;
		visibility: hidden;
		position: fixed;
		z-index: 998;
		max-width: 100%;
		height: 100%;
		margin: auto;
		opacity: 0;
		pointer-events: none;

		@include transition;

		&.visible {
			visibility: visible;
			opacity: 1;
			pointer-events: all;
		}
	}

	.textwidget {
		width: 100%;
	}

	.wp-video {
		position: relative;
		padding: 5%;

		@include breakpoint(sm) {
			padding: 10%;
		}
	}

	iframe {
		display: block;
		width: 100% !important;
		height: 100% !important;
		box-shadow: 0 3rem 3rem -2rem rgba($dark, 0.5);
	}

	.show-video {
		width: 3em;
		height: 3em;
		margin: 0 auto 1em;
		padding: 0;
		border: 3px solid $white;
		border-radius: 3em;
		color: $white;
		background-color: transparent;
		font-size: 2.4rem;

		@include transition;

		&:hover {
			transform: scale(1.1);
		}
	}

	.hide-video {
		position: absolute;
		z-index: 999;
		top: -5%;
		right: 0;
		width: 1em;
		height: 1em;
		padding: 1rem;
		border-radius: 9rem;
		background: transparent;
		box-shadow: none;
		font-size: 2em;
		line-height: 0;
		text-align: center;

		@include breakpoint(sm) {
			top: 5%;
			right: 5%;
		}
	}

	.before {
		position: fixed;
		background-color: $overlay;

		@include center;
	}
}

/* ### Front Page 5 */

.front-page-5 {

	.featured-portfolio .widget-wrap {
		display: flex;
		flex-wrap: wrap;
	}

	.widget-title {
		width: 100%;
		margin-bottom: 2em;
		text-align: center;
	}

	.entry {
		position: relative;
		margin-bottom: 3rem;
		padding: 0;
		border-radius: $site-radius;
		box-shadow: 0 27px 40px -20px rgba($dark, 0.22);

		@include transition;
		@include overlay;

		@media (max-width: map-get($breakpoints, sm)) {
			width: $one-half;
			margin: 0 0 3rem $margin-left;

			&:nth-of-type(2n + 1) {
				margin-left: 0;
			}
		}

		@media (max-width: map-get($breakpoints, xs)) {
			width: 100%;
			margin: 0 0 5%;
		}

		@include breakpoint(sm) {
			width: $one-third;
			margin-left: $margin-left;

			&:nth-of-type(3n + 1) {
				margin-left: 0;
			}
		}

		&:before {
			border-radius: $site-radius;
			opacity: 0.1;

			@include transition;
		}

		&:hover {
			box-shadow: 0 27px 40px -20px rgba($dark, 0.33);

			&:before,
			.entry-header {
				opacity: 1;
			}

			.entry-header {
				transform: scale(1);
			}
		}

		&:last-of-type {
			margin-bottom: 3rem;
		}

		> a {
			display: block;
			height: 100%;
			margin: 0;

			img {
				border-radius: $site-radius;
			}
		}
	}

	.entry-header {
		display: block;
		position: absolute;
		z-index: 1;
		height: 1em;
		opacity: 0;
		color: $white;
		font-family: $font-heading;
		font-size: smaller;
		font-weight: $bolder;
		line-height: 1;
		text-align: center;
		text-decoration: none;
		transform: scale(0);

		@include transition;
		@include center;
	}

	a {
		color: $white;
	}
}

/* ### Front Page 6 */

.front-page-6 {
	background-color: $light;

	.wrap {

		@include breakpoint(md) {
			display: block;
		}
	}

	img {
		width: 5rem;
		margin-bottom: 1rem;
	}

	.lslide,
	.clone {
		padding: 1.5rem;

		.wrap {
			padding: 2em 2em 2.4em;
			border-radius: $site-radius;
			background-color: $white;
			box-shadow: 0 2rem 2rem -1rem rgba($dark, 0.05);

			@include clearfix;
			@include transition;

			&:hover {
				box-shadow: 0 2rem 2rem -1rem rgba($dark, 0.1);
			}
		}
	}

	blockquote {
		margin: 0 0 1.5rem;
		padding: 0;
		border: 0;
	}

	.gts-rating + blockquote {
		margin-top: 0.5rem;
	}

	blockquote + img {
		float: left;
		margin-bottom: 0;
	}

	h5 {
		margin: 0 1rem 1rem 0;
		color: $gray;
		font-size: 1.5rem;
		line-height: 1;
	}

	img + h5 {
		margin: 1.4rem 0.5rem 0 1rem;

		+ .gts-company {
			margin-top: 1.4rem;
		}
	}

	.gts-company {
		display: block;
		font-size: 1.5rem;
		line-height: 1;
	}

	.lSSlideOuter {
		margin: 0 -1.5rem;
	}
}
