/* ## Menus
--------------------------------------------- */

.menu {
	display: flex;
	width: 100%;
	font-family: $font-heading;
	font-size: 1.8rem;
	font-weight: $normal;
	line-height: 1;
	text-align: center;
	flex-wrap: wrap;

	@include clearfix;

	@include breakpoint(md) {
		font-size: 1.3rem;
		text-align: left;
	}
}

.menu-item {
	display: block;
	position: relative;
	width: 100%;
	padding: 0.5em 0;

	@include breakpoint(md) {
		display: inline-block;
		width: auto;
		padding: 0;
	}

	&.right {
		margin-left: auto;
	}

	&:hover,
	&:focus,
	&.sfHover {
		outline: none;

		> .sub-menu {

			@include breakpoint(md) {
				opacity: 1 !important;
				pointer-events: all;
			}
		}
	}

	&.menu-item-has-children {

		> a {

			> span {

				@include breakpoint(md) {

					&:after {
						display: inline-block;
						width: auto;
						margin-left: 0.5em;
						border: 3px solid transparent;
						border-top-color: $light;
						content: "";
					}
				}
			}
		}
	}

	&.button {
		padding: 0;
		background-color: transparent;
		font-size: 1.2rem;

		&:hover {
			box-shadow: none;
		}

		> a > span {
			display: block;
			margin-top: 1em;
			padding: 1em 2em;
			border-radius: $site-radius;
			color: $white;
			background-color: $accent;

			@include breakpoint(md) {
				display: inline;
				margin-top: 0;
			}

			&:hover {
				color: $white;
				box-shadow: inset 0 0 0 9rem rgba($white, 0.1), 0 1.25rem 1rem -0.5rem rgba($dark, 0.25);

				@include transition;
			}
		}
	}

	a {
		display: inline-block;
		width: auto;
		padding: 0.5em 0;
		color: $border;
		text-decoration: none;

		@include breakpoint(md) {
			width: 100%;
			padding: 1.5em 1em;
		}

		@include breakpoint(lg) {
			padding: 2em 1.25em;
		}

		span {
			position: relative;
		}
	}

	a:hover,
	a:focus,
	&.current-menu-item > a {
		color: $white;

		.sub-menu & {
			color: $gray;
		}
	}
}

/* ## Sub Menus
--------------------------------------------- */

.sub-menu {
	display: none;
	padding: 1em 0;
	font-size: 1.4rem;

	@include clearfix;

	@include breakpoint(md) {
		position: absolute;
		z-index: 99;
		width: 18rem;
		margin: 0;
		padding: 0.618em 0.5em;
		border-radius: $site-radius;
		opacity: 0 !important;
		background-color: $white;
		box-shadow: 0 0.5rem 1.5rem rgba($dark, 0.05);
		font-size: 1.2rem;
		pointer-events: none;

		&:before {
			display: block;
			position: absolute;
			top: -1rem;
			left: 3rem;
			border: 0.5rem solid transparent;
			border-bottom-color: $white;
			content: "";
		}
	}

	li {
		width: 100%;

		&:first-of-type {
			margin-top: 0.5em; // Slide toggle fix.

			@include breakpoint(md) {
				margin-top: 0;
			}

			a {
				padding-left: 1em;
			}
		}
	}

	a {
		padding-left: 1em;

		@include breakpoint(md) {
			position: relative;
			padding: 1em;
			color: $dark;
			word-wrap: break-word;
		}

		@include breakpoint(lg) {
			padding: 1em;
		}
	}

	.sub-menu {
		padding-left: 1em;

		@include breakpoint(md) {
			top: 0;
			left: 0;
			margin: -0.6em 0 0 17.4rem;
			padding-left: 0.5em;
		}

		&:before {

			@include breakpoint(md) {
				position: absolute;
				top: 2em;
				left: -1rem;
				border: 0.5rem solid transparent;
				border-right-color: $white;
			}
		}
	}
}

/* ## Specific Menus
--------------------------------------------- */

.nav-primary {
	display: none;
	overflow: auto;
	overflow-x: visible;
	position: fixed;
	top: -1rem;
	right: -1rem;
	bottom: -1rem;
	left: 5vw;
	left: -1rem;
	width: 100vw;
	margin: auto;
	padding: 5vw;
	border-top: $site-border;
	border-bottom: $site-border;
	background-color: rgba($dark, 0.98);
	-webkit-overflow-scrolling: touch;

	@include breakpoint(md) {
		display: block;
		overflow: visible;
		position: relative;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		width: auto;
		margin: 0;
		padding: 0;
		border: none;
		background-color: transparent;
		-webkit-overflow-scrolling: initial;
	}

	&.visible {
		display: block;
	}

	.no-js & {
		display: block;
		position: relative;
		width: 100%;

		@include breakpoint(md) {
			display: block;
			width: auto;
		}

		.wrap {
			padding: 0 5%;
		}

		.menu-item {
			display: inline-block;
			width: auto;
			margin: 0 0.5em;
		}
	}

	.wrap {
		height: 100%;
	}

	.menu {
		flex-direction: column;
		min-height: 100%;
		padding: 0 0 1em;
		justify-content: center;

		@include breakpoint(md) {
			flex-direction: row;
			padding: 0;
			justify-content: flex-end;
		}
	}
}

/* ## Menu Toggles
--------------------------------------------- */

.menu-toggle {
	display: block;
	position: absolute;
	z-index: 999;
	top: 0;
	right: 5vw;
	padding: 2.7rem 0;
	color: transparent;
	background-color: transparent;
	line-height: 1;
	letter-spacing: -0.5em;
	cursor: pointer;

	@include breakpoint(md) {
		display: none;
	}

	&:hover,
	&:focus {
		outline: none;
		color: transparent;
		background: none;
		box-shadow: none;
	}

	&.activated {
		position: fixed;
	}

	span {
		display: block;
		float: right;
		position: relative;
		width: 2.5rem;
		height: 0.2rem;
		margin-top: 0.7rem;
		margin-left: 0.236em;
		border-radius: $site-radius;
		background: $white;
		transition: background 0s 0.2s;

		&:before,
		&:after {
			display: block;
			position: absolute;
			left: 0;
			width: 100%;
			height: 0.2rem;
			border-radius: $site-radius;
			background-color: $white;
			content: " ";
		}

		&:before {
			top: -0.7rem;
			transition: top 0.2s 0.2s, transform 0.2s 0s;
		}

		&:after {
			bottom: -0.7rem;
			transition: bottom 0.2s 0.2s, transform 0.2s 0s;
		}
	}

	&.activated span {
		background: none;

		&:before {
			top: 0;
			transition: top 0.2s 0s, transform 0.2s 0.2s;
			transform: rotate(45deg);
		}

		&:after {
			bottom: 0;
			transition: bottom 0.2s 0s, transform 0.2s 0.2s;
			transform: rotate(-45deg);
		}
	}
}

.sub-menu-toggle {
	position: absolute;
	margin: 0 -1em 0 1em;
	padding: 0.9em;
	background-color: transparent;

	@include breakpoint(md) {
		display: none;
	}

	&:hover,
	&:focus {
		background: none;
	}

	&:before {
		display: block;
		margin: 0.2rem 0 -0.2rem;
		border: 0.4rem solid transparent;
		border-top-color: $light;
		content: "";
	}

	&.activated {

		&:before {
			margin: -0.2rem 0 0.2rem;
			transform: rotate(180deg);
		}
	}
}
